################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/SheepDog/obj/Debug
/Source/SheepDog/bin/Debug
/Source/.vs/SheepDog/v15
